---
import { Badge } from '@astrojs/starlight/components';
import DefaultPageTitle from '@astrojs/starlight/components/PageTitle.astro';
import PageViews from "./PageViews.astro";

const { entry } = Astro.locals.starlightRoute;
const tags = entry.data.tags ?? [];
---

<DefaultPageTitle />

{
	tags.length > 0 && (
		<ul
			aria-label="标签"
			style="display: flex; flex-wrap: wrap; gap: 0.5rem; padding: 0; margin: 1rem 0 0; list-style: none;"
		>
			{
				tags.map((tag) => (
				<li>
					<a href={`/tags/${encodeURIComponent(tag)}/`} style="text-decoration: none;">
						<Badge text={tag} size="small" />
					</a>
				</li>
			))}
		</ul>
	)
}

<PageViews />
